
<h1>How's the Weather?</h1>

<div class="currently">
    <span class="icon">
        {{sky-icon height="100" width="100" icon=model.currently.icon color="black" class="icon2"}}
    </span>
    <span class="state">{{model.currently.summary}}</span>
    <span class="temp">{{model.currently.temperature}}&ordm;</span>
</div>

{{outlet}}
