
<div class="currently">
    <span class="state">It is currently {{model.currently.summary}}.</span>
    <img src="{{ model.currently.icon }}" alt="icon">
    <span class="temp">{{model.currently.temperature}}</span>
</div>

{{outlet}}
